<div class="signupPageContainer">
  <div class="signupContentContainer">
    <span class="logo signupLogo">InterPlatformChat</span>
    <div class="row rowSignup">
      <div class="col colSignup">
        <div class="card">
          <div class="card-content">
            <div>
              <form [formGroup]="connectForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div>
                  <input placeholder="Enter your Username" id="username" formControlName="username" type="text"
                    class="validate usernameTextbox">
                </div>
                <div class="submitDiv">
                  <button class="submitBtn btn waves-effect waves-light" type="submit" name="action"
                    [disabled]="!connectForm.valid">SUBMIT
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
