/* You can add global styles to this file, and also import other style files */

.lilita-one {
    font-family: 'Lilita One', cursive;
}

.logo {
    font-family: 'Lilita One', cursive;
    color: white;
}