<div class="connectedPageContainer">
  <span class="logo connectedLogo">InterPlatformChat</span>
  <div class="row rowConnected">
    <div class="col colConnected">
      <div class="card">
        <div class="card-content">
          <div class="avatar-upload">
            <div class="avatar-preview">
              <img id="imagePreview" [src]="this.profileImgSrc">
            </div>
          </div>
          <div>
            <span class="connectedName">{{ this.profileId }}</span>
          </div>
          <div class="submitDiv">
            <button class="submitBtn btn waves-effect waves-light" type="submit" name="action"
              (click)="onDisconnect()">DISCONNECT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
